//- 
 File Name: aboutMe.pug
 Author's name:  Arshdeep Singh
 Website name: Drink Management
 File description: This file contains the information about authour including study and some more details of authour life.
//
include layout.pug
html
  head
  body
    h1 Drinks
    img(src='images/drink.jpg', alt='drinks', width='1500', height='570')

include partials/footer.pug